body {
  font-family: Arial, Helvetica, sans-serif;
  color: #555555;
  background-color: #ca924c;
}

form {
  margin-bottom: 30px;
}

hr {
  opacity: 0.1;
}

h1 {
  color: #555555;
  font-size: 30px;
  font-weight: 100;
  line-height: 28px;
  margin-bottom: 0;
  margin-top: 4px;
}

h2 {
  color: #555555;
  font-size: 16px;
  font-weight: 100;
  line-height: 28px;
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  color: #92a13a;
  list-style: none;
  font-size: 13px;
  font-weight: 100;
  line-height: 19px;
  margin: 0;
  padding: 0;
}

li:first-letter {
  text-transform: capitalize;
}

a {
  color: #fafafb;
}

.app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}

.nice-weather {
  padding: 30px;
  border: 1px solid #ca924c;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #fafafb;
  margin-bottom: 10px;
}

.form-control {
  color: #555555;
  border-color: #ca924c;
  background-color: #fafafb;
  box-shadow: 0 2px 8px 0 #cdcdcd;
}

.overview {
  margin-bottom: 20px;
}

.current-temperature img {
  margin-right: 5px;
  height: 60px;
  width: 60px;
}

.current-temperature strong {
  color: #555555;
  font-size: 60px;
  font-weight: 400;
  line-height: 1;
}

.current-temperature .units {
  position: relative;
  font-size: 16px;
}

.weather-forecast {
  margin-top: 30px;
  text-align: center;
  color: #92a13a;
}

.wf-date {
  font-size: 16px;
}

.wf-temperature {
  font-size: 13px;
}

.wf-temperature-min {
  opacity: 0.6;
}

#forecast-icon {
  max-width: 50px;
}

#button {
  background-color: #ca924c;
  color: #fafafb;
}

#button:hover {
  background-color: #fafafb;
  color: #ca924c;
  transition-duration: 0.4s;
}
